@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #ffffff;
}

.Home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00d4ff80 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 0px 15px #000000;
}

section.Home > h2 {
  /* diplay flex: ; */
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  margin: 1rem;
}

.Home > div {
  display: flex;
  justify-content: center;
  color: #000000;
}

.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

@media (max-width: 840px){
  .row{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff4d;
  width: 340px;
  height: 45px;
}

.LogoTitle {
  position: absolute;
  left: 55px;
  font-weight: 700;
  font-size: 2.5em;
}

.LogoIcon {
  position: absolute;
  left: -20px;
  top: 3px;
}

.Options {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#spanContainer {
  width: 40%;
  text-align: center;
  z-index: 99999;
  padding: 0.4rem;
}

#msgAlert {
  width: 100%;
  z-index: 99999;
  padding: 0.4rem;
  font-weight: 600;
  border-radius: 0.3rem;
}

.success {
  background-color: #a4ffa4;
  color: #08750d;
  border: 2px solid #08750d;
}

.danger {
  background-color: #ffa4a4;
  color: #690000;
  border: 2px solid #690000;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
  
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .LogoTitle {
    font-size: 1.5em;
  }
}

div.HomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 350px) {
  div.HomeContainer {
    justify-content: unset;
  }
}

.PaletaList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  div.PaletaList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  div.PaletaList {
    grid-template-columns: 1fr;
  }
}

.PaletaCardItem,
.PaletaListItem {
  font-family: "Exo";
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  height: 150px;
  display: flex;
  justify-content: space-around;
}

div#chosenPaleta {
  width: 315px;
  display: contents;
}

.PaletaCardItem {
  margin: 20px 0;
}

@media (max-width: 400px) {
  .PaletaCardItem,
  .PaletaListItem {
    width: 210px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaCardItemSabor,
.PaletaListItemSabor {
  margin: 0.2rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 100%;
}

.PaletaCardItemDescricao,
.PaletaListItemDescricao {
  font-size: 0.85rem;
}

.PaletaCardItemPreco,
.PaletaListItemPreco {
  color: #9400d3;
}

.Actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* margin-top: 0.5rem; */
}

.ActionsEdit {
  color: #0097ce;
  border: 2px solid #0097ce;
}

.ActionsEdit:hover {
  color: #ffffff;
  background-color: #0097ce;
}

.ActionsDelete {
  color: #ca2626ec;
  border: 2px solid #ca2626ec;
}

.ActionsDelete:hover {
  color: #ffffff;
  background-color: #ca2626ec;
}

.Btn {
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-width: 280px;
  text-align: center;
  font-weight: 600;
  font-size: 0.87rem;
  background-color: transparent;
  cursor: pointer;
  width: 40%;
  transition: all 0.3s ease-out;
}

.PaletaCardItemFoto,
.PaletaListItemFoto {
  height: 150px;
  margin-right: -60px;
}

#searchResult{
  display: none;
}

.ChosenPaletaSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#ChoosePaletaSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 300px;
}

#namePaleta {
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  width: 100%;
}

.DefaultButton {
  background-color: transparent;
  border: 2px solid #9400d3;
  padding: 0.4rem;
  color: #9400d3;
  border-radius: 0.2rem;
  width: 330px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 1rem;
  font-weight: 700;
}

.DefaultButton:hover {
  background-color: #9400d3;
  color: #ffffff;
}

#searchByPaletaNameButton {
  height: fit-content;
  width: fit-content;
  padding: .3em;
}

.ModalOverlay {
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.Modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00d4ff80 100%
  );
  padding: 1rem;
}

.CloseModal {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  transform: scale(0.7);
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.CloseModal:hover {
  transform: scale(1);
}

.ModalBody {
  padding: 0.5rem 1rem;
  font-size: large;
  height: 90%;
}

.ModalBodyDelete > p {
  font-size: 1.5rem;
  padding: 2rem;
}

.ModalBodyDelete {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ModalBodyDelete > .BtnsDelete {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.ModalBody div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ModalBody div input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: solid 1px #ccc;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
}

.ModalBody div #submitModalButton {
  padding: 0.5rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  color: #0097ce;
  border: 2px solid #0097ce;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.ModalBody div #submitModalButton:hover {
  background-color: #0097ce;
  color: #ffffff;
}

.BtnDelete {
  padding: 0.5rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.BtnDeleteNo {
  border: 2px solid #ca2626ec;
  color: #ca2626ec;
}

.BtnDeleteNo:hover {
  background-color: #ca2626ec;
  color: #ffffff;
}

.BtnDeleteYes {
  border: 2px solid #0bb614;
  color: #0bb614;
}

.BtnDeleteYes:hover {
  background-color: #0bb614;
  color: #ffffff;
}
